.b-catalogues {
  .__card {
    transition: all 0.3s ease;
    border: 1px dashed #fff;
    .__thumb {
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    }
  }
  .__card:hover {
    background-color: var(--p-50);
    border: 1px dashed var(--p-200);
    transition: all 0.3s ease;
	.__thumb {
		transform: translateY(-4px);
    transition: all 0.3s ease;
	}
  }
}
