.b-content {
  .__txt {
    p {
      margin-bottom: 16px;
    }

    p:last-child {
      margin-bottom: 0 !important;
    }

    ul {
      margin-top: 8px;
      margin-bottom: 24px;
      list-style: none;
      padding-left: 0;

      &:last-child {
        margin-bottom: 0;
      }

      li {
        position: relative;
        margin-bottom: 0.5em;
        display: flex;
        gap: 8px;
        align-items: center;

        &::before {
          content: url('http://odt.local/wp-content/uploads/2026/01/double-arrow.svg');
		  position: relative;
          left: 0;
          top: -3px;
          width: 14px;
          height: 14px;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
        }
      }
    }
  }
}



/*--- BRAK PUNKTATORÓW ---*/

.b-content.no-list {
  .__txt {
    ul {
      margin-top: 8px;
      margin-bottom: 24px;
      list-style: none;
      padding-left: 0;

      li {
        position: relative;
        display: inline-block;

        &::before {
          content: '•';
          position: relative;
          left: 0;
          top: 0;
          margin-right: 8px;
        }
      }
    }
  }
}
