.b-content {
	.__txt {
		p {
			margin-bottom: 16px;
		}

		p:last-child {
			margin-bottom: 0 !important;
		}

		ul {
			margin-top: 8px;
			margin-bottom: 24px;
			list-style: none;
			padding-left: 0;

			&:last-child {
				margin-bottom: 0;
			}

			li {
				position: relative;
				margin-bottom: 0.5em;
				display: flex;
				gap: 8px;
				align-items: center;

				&::before {
					content: url('http://odt.local/wp-content/uploads/2026/01/double-arrow.svg');
					position: relative;
					left: 0;
					top: -3px;
					width: 14px;
					height: 14px;
					background-size: contain;
					background-repeat: no-repeat;
					background-position: center;
				}
			}
		}
	}
}

/*--- DEWELOPER ---*/

.b-content.developer {
	.__content {
		padding: 120px 0 !important;
	}

	.__img {
		position: absolute;
		right: 0;
		width: 50%;

		img {
			border-top-right-radius: 0 !important;
			border-bottom-right-radius: 0 !important;
		}
	}
}

/*---- !SM --*/
@media only screen and (max-width: 640px) {

	.b-content.developer {
		.__content {
			padding: 32px 0 !important;
		}

		.__img {
			position: relative;
			right: 0;
			width:100%;

			img {
				border-top-right-radius: 48px !important;
				border-bottom-right-radius: 48px !important;
			}
		}
	}
}

/*--- BRAK PUNKTATORÓW ---*/

.b-content.no-list {
	.__txt {
		ul {
			margin-top: 8px;
			margin-bottom: 24px;
			list-style: none;
			padding-left: 0;

			li {
				position: relative;
				display: inline-block;

				&::before {
					content: '•';
					position: relative;
					left: 0;
					top: 0;
					margin-right: 8px;
				}
			}
		}
	}
}