.b-faq {
		/*Section used for centering process*/
		input.acc-check {
			position: absolute !important;
			opacity: 0 !important;
			z-index: -1 !important;
		}

		.accordion-wrapper {
			/*     padding-bottom: 15px;
    margin-bottom: 15px; */
		}

		.accordion-wrapper:last-child {
			border-bottom: none;
		}

		.accordion {
			width: 100%;
			overflow: hidden;
			margin-bottom: 16px !important;
			border: 1px solid var(--border);
		}

		.accordion-label {
			padding: 16px 16px;
			margin-bottom: 0px !important;
			cursor: pointer;
			color: var(--body);
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		.accordion-label:hover {}

		.accordion-label::after {
			content: url('/wp-content/uploads/2025/11/arrow-1.svg');
			-webkit-transition: all 0.3s;
			transition: all 0.3s;
			float: right;
			top:1px;
			position: relative;
		}

		.accordion-content {
			max-height: 0;
			-webkit-transition: all 0.3s;
			transition: all 0.3s;
			padding: 0 24px;
			overflow: hidden;

			strong {
				display: block;
				padding-top: 24px;
				padding-bottom: 8px;
			}
		}

		.accordion-content p {
			margin: 0;
			color: var(--body);
			font-size: 16px;
		}

		.accordion-content ul {
			list-style-type: disc;
			padding-left: 16px;
		}

		input:checked {
			border: 1px solid var(--primary);
		}

		input:checked+.accordion-label::after {
			content: url('/wp-content/uploads/2025/11/arrow-1.svg');
			transform: rotate(180deg);
		}

		.accordion:has(input:checked) {
			padding-bottom: 0px;
		}

		input:checked~.accordion-content {
			max-height: 1200px;
			padding: 0 24px 24px 24px;
		}
}