.b-help {
  .__prev:hover,
  .__next:hover {
    background-color: var(--color-secondary-hover);
    transition: all 0.4s ease-out;
  }
  .__card:hover {
    .underline-btn {
      transition: all 0.2s ease-out;
      border-bottom: 1px solid var(--color-secondary);
    }
    .underline-btn::after {
      transition: all 0.2s ease-out;
      margin-left: 12px;
    }
  }
}
