.b-hero {
  .__mask {
    -webkit-mask-image: url('http://odt.local/wp-content/uploads/2026/01/mask.svg');
    mask-image: url('http://odt.local/wp-content/uploads/2026/01/mask.svg');
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
	height: 100%;
  }
}
