.b-job {
  .__txt {
    p {
      margin-bottom: 16px;
    }

    p:last-child {
      margin-bottom: 0 !important;
    }

    ul {
      margin-top: 8px;
      margin-bottom: 24px;
      list-style: disc;
      list-style-position: inside;
      padding-left: 6px;
      li {
        position: relative;
        margin-bottom: 0.1em;
      }
      li::marker {
        color: var(--primary);
        display: block;
      }
    }
  }

  .__form {
    label {
      margin-top: 24px;
      display: block;
    }

    .wpcf7 form .wpcf7-response-output {
      color: var(--body);
      width: max-content;
    }

    /*--- !INPUT CONTACT ---*/

    input[type='text'],
    input[type='tel'],
    input[type='email'],
    select,
    textarea {
      width: 100%;
      background-color: #fff;
      border: none;
      color: var(--p-dark);
      border: 1px solid var(--border-p);
      padding: 12px 16px;
      transition: all 0.2s ease-out;
      border-radius: 4px;
      font-size: 16px;
    }

    input::placeholder,
    textarea::placeholder {
      color: #706e68;
      opacity: 1;
    }

    input[type='text']:focus,
    input[type='tel']:focus,
    input[type='email']:focus,
    textarea:focus {
      width: 100%;
      background-color: var(--p-100);
      border: 1px dashed var(--p-600);
      outline: none;
      transition: all 0.2s ease-out;
    }

    textarea {
      height: 120px;
    }

    input[type='submit'] {
      font-size: 16px;
      background: var(--primary);
      color: #fff;
      padding: 15px 45px;
      display: inline-block;
      transition: all 0.2s ease-out;
      border-radius: 8px;
      font-weight: 600;
      border: 1px solid transparent;
      text-decoration: none;
      white-space: nowrap;
      width: unset !important;
      margin-top: 24px;
      cursor: pointer;
    }

    input[type='submit']:hover {
      color: #fff;
      background: var(--s-hover);
      transition: all 0.2s ease-out;
      border: 1px solid transparent;
    }
    .codedropz-upload-handler {
      border: 2px dashed var(--primary);
      h6 {
        display: flex;
        flex-direction: column;
      }
      h6::before {
        content: url('/wp-content/uploads/2025/11/download.svg');
        margin-bottom: 8px;
      }
    }
    .codedropz-upload-container {
      background-color: #fff;
    }
    .dnd-upload-counter {
      display: none;
    }
    .cd-upload-btn {
      text-decoration: underline !important;
    }
  }
}

/*--- CUSTOM BLOCK ---*/
.b-job.__inbound {
	.__content {
		margin-top:40px;
		margin-bottom:104px;
	}
  .__form {
    margin-top: 32px !important;
  }
  .__sidebar {
    display: none;
  }
}
