.b-member {
  .__txt {
    h6 {
      color: var(--color-secondary) !important;
      margin-top: 24px;
      margin-bottom: 16px;
    }
  }
  /*---- ACCORDION ----*/
  input.acc-check {
    position: absolute !important;
    opacity: 0 !important;
    z-index: -1 !important;
  }

  .accordion-wrapper {
  }

  .accordion-wrapper:last-child {
    border-bottom: none;
  }

  .accordion {
    width: 100%;
    overflow: hidden;
    margin-bottom: 16px !important;
  }

  .accordion-label {
    padding: 16px 16px;
    margin-bottom: 0px !important;
    cursor: pointer;
    color: var(--body);
    .__arrow {
        transition: transform 0.3s ease-in-out;
    }
  }

  .accordion-label:hover {
  }

  .accordion-content {
    max-height: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    padding: 0 24px;
    overflow: hidden;

    strong {
      display: block;
      padding-top: 24px;
      padding-bottom: 8px;
    }
  }

  .accordion-content p {
    margin: 0;
	margin-bottom:16px;
    color: var(--body);
    font-size: 14px;
	display: inline-block;
  }

  .accordion-content p:last-child {
	margin-bottom:0;
  }

  .accordion-content ul {
    list-style-type: disc;
    padding-left: 16px;
  }

  input:checked {
    border: 1px solid var(--primary);
  }

  input:checked + .accordion-label .__arrow {
    transform: rotate(180deg);
  }

  .accordion:has(input:checked) {
    padding-bottom: 0px;
  }

  input:checked ~ .accordion-content {
    max-height: 1200px;
    padding: 0 24px 24px 24px;
  }
}

.b-member::before {
  content: '';
  position: absolute;
  inset: 0;
  background: var(--color-primary);
  z-index: 1;
  margin-bottom: 240px;
}
