.b-offer {
  .underline-btn {
    color: var(--color-action) !important;
  }
  .__card:hover {
    .underline-btn {
      transition: all 0.2s ease-out;
      border-bottom: 1px solid var(--color-secondary);
    }
    .underline-btn::after {
      transition: all 0.2s ease-out;
      margin-left: 12px;
    }
  }
}
